<html>
    <head>
        <title>Daria's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Daria's Blog</a></h1>
        </div>

        <div>
            <p>published: 26.02.2021, 14:40</p>
            <h2><a href="">My first post</a></h2>
            <p>Шаблон — это файл, который ты можешь использовать повторно для отображения различной информации в заданном формате; например, ты можешь использовать шаблон, чтобы упростить написание письма, поскольку письма хоть и различаются по содержанию и получателю, но сохраняют общую структуру.</p>
        </div>

        <div>
            <p>published: 26.02.2021, 14:40</p>
            <h2><a href="">My second post</a></h2>
            <p>HTML — это простой код, который может быть интерпретирован твоим браузером — таким как Chrome, Firefox или Safari — чтобы отобразить веб-страницу пользователю.</p>
        </div>
    </body>
</html>
